body{
    margin: 0px;
}
header{
    margin-top: 0px;
    margin-right: 0px;
    height: 600px;
    background-image: url(img/ivan-torres-MQUqbmszGGM-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.menu{
    font-family: 'Quicksand';
    float:right;
    background-color: #eeb41f;
    overflow: hidden;
}

.menu a {
    float: right;
    text-align: center;
    padding: 10px 40px;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
}

.menu a:hover{
    background-color: black;
    color: white;
}

a:visited{
    color: white;
}

h1{
    font-family: 'Rubik Mono One';
}

h2{
    font-family: 'Quicksand';
    letter-spacing: 25px;
}
.section1{
    color: white;
    font-size: 60px;
    line-height: 30px;
    margin-left: -10px;
    padding-left: 150px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: #eeb41f;
    background-size: 200%;
    background-position: left;
}

button{
    font-family: 'Quicksand';
    font-size: 120%;
    position: absolute;
    right: 150px;
    top: 310px ;
    background-color: #eeb41f;
    border: 1px solid white;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 13px 32px;
    cursor: pointer;
}

button:hover{
    background-color: black;
}

.carre{
    width: 100%;
    height: 0;
    padding-top: 450px;
    position: relative;
    background-color: #1E1E1E;
    background-size: cover;
}

.contenu{
    position: absolute;
    margin-top: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 250px;
    padding-right: 190px;
    font-family: 'Quicksand';
    top: 0;
    background: #eeb41f;
}

h3{
    font-weight: bold;
    color: white;
}

p{
    color: white;
    text-transform: capitalize;
}

.pizza1{
    width: 47%;
    position: absolute;
    right: 0px;
    bottom: 64px;
}